.Navbar {
  background-color: #1f2535;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 40px;
}

.navbar-logo {
  float: left;
}

.menu-top {
}
